.iwjlo { 
  margin-bottom: 23px;
  padding-top: 47px;
  border-right-width: 63px;
  padding-right: 21px;
  padding-top: 42px;
  line-height: 28px;
  padding-bottom: 29px;
  border-right-width: 0px;
  border-top-width: 19px;
  border-left-width: 83px;
  padding-left: 15px;
  border-left-width: 46px;
  border-top-width: 1px;
}
